{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Table Note</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
  </head>

  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href=".">Lab 4</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link text-white" href="/lab-4/">Table Note</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href="/lab-4/note-list">Card Note</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href="/lab-4/add-note">Add Note</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="font-weight-bold">Table Note</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container bg-white shadow">
        <table class="table table-hover table-striped">
	  			<thead class="bg-primary text-white">
				    <tr>
				      <th scope="col">Title</th>
				      <th scope="col">Sender</th>
				      <th scope="col">Receiver</th>
				      <th scope="col">Message</th>
				    </tr>
				  </thead>
				        {% for note in note_list %}
					  <tr>
				    	    <td>{{ note.title }}</td>
				    	    <td>{{ note.note_from }}</td>
				    	    <td>{{ note.note_to }}</td>
					    <td>{{ note.message|linebreaksbr }}</td>
					  </tr>
					{% endfor %}
				</table>
      </div>
    </div>

  	<script src="{% static 'vendor/jquery/jquery.js' %}" type="text/javascript"></script>
  	<script src="{% static 'vendor/popper/popper.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascript"></script>

  </body>
</html>