{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Card Note</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>

  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href=".">Lab 5</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/lab-5/">Table Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/lab-5/note-list">Card Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/lab-5/add-note">Add Note</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="font-weight-bold">Card Note</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container bg-white shadow">
        <div class="card-columns">
          {% for note in note_list %}
          <div class="card border-primary mb-3">
            <div class="card-header text-white bg-primary">{{ note.title }}</div>
            <div class="card-body text-primary bg-light">
              <p class="card-text">From: {{ note.note_from }}</p>
              <p class="card-text">To: {{ note.note_to }}</p>
              <p class="card-text">{{ note.message|linebreaksbr }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>