<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
  </head>
  <body>
    <div class="form">
    <form action="" method="POST">
        {% csrf_token %}
	<table cellpadding="5">
	    <tr><th colspan="2" style="font-size: 28px">Add Friend</th></tr>
	    {{ form.as_table }}
	    <tr><td colspan="2" style="text-align:center">
	        <input type="submit" value="Submit">
	    </td></tr>
	</table>
    </form>
    </div>
  </body>
</html> 
