<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table cellspacing="10">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- Loop from Friend model -->
      {% if friend_list %}
        {% for friend in friend_list %}
          <tr>
	    <td>{{ friend.name }}</td>
	    <td>{{ friend.npm }}</td>
	    <td>{{ friend.DOB|date:'M d, Y' }}</td>
	  </tr>
	{% endfor %}
      {% endif %}
    </table>
  </body>
</html>
